# Open DataOps Platform environment variables

POSTGRES_PASSWORD=open_dataops
AIRFLOW_VERSION=2.10.5
AIRFLOW_UID=50000
AIRFLOW_SECRET_KEY=change_this_to_a_long_random_value
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
